<div class="container mt-3">
    <app-empleado [todos]="totalEmpleados()" [masculino]="totalMasculino()" [femenino]="totalFemenino()">
    </app-empleado>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Folio</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Genero</th>
                        <th>Salario</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let empleado of listaEmpleados">
                        <tr *ngIf="radioButtonSelect == 'Todos' || radioButtonSelect == empleado.genero">
                            <td>{{empleado.folio}}</td>
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.apellido}}</td>
                            <td>{{empleado.genero}}</td>
                            <td>{{empleado.salario | currency}}</td>
                        </tr>
                    </ng-container>
            </table>
        </div>
    </div>
</div>